<nlog autoReload ="true" throwExceptions="true" internalLogToConsole="true" internalLogFile="nlog-internals.log">
  
  <variable name="LogDir" value="Logs"/>
  <variable name="LogDay" value="${date:format=yyyy/MM/dd/HH}"/>
  
  <targets>
    <target name="common" type="ColoredConsole" useDefaultRowHighlightingRules="true" layout="${longdate} ${level} ${logger} ${message} ${exception}">
    </target>
    <target name="asyncFile" type="AsyncWrapper">
      <target name="RollingFile" type="File"   layout="${longdate} ${level} ${logger}${message} ${exception}" fileName="${LogDir}\${LogDay}.log" encoding="utf-8"
        maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}\{#######}.log" />
    </target>   
  </targets>

  <rules>
    <logger name="*" writeTo="asyncFile" />
    <logger name="*" writeTo="common" final="true"/>
  </rules>
  
</nlog>
